@model ProductDetailViewModel

@{
    ViewData["Title"] = Model.Product.Name;
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/Img/Products/@Model.Product.Image" alt="..."></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: PRD-@Model.Product.Id</div>
                <h1 class="display-5 fw-bolder">@Model.Product.Name</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">@Model.Product.Price ₺</span>
                    <span>@Model.Product.Price ₺</span>
                </div>
                <p class="lead">
                    @Html.Raw(Model.Product.Description)
                </p>
                <form asp-controller="Basket" asp-action="Add">
                    <div class="d-flex">
                        <input name="Quantity" class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" wtx-context="9CEF4B93-3FD7-461E-B379-A93F79737548">
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Sepete Ekle
                        </button>
                        <input type="hidden" asp-for="Product.Id" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="py-3 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder">@Model.Product.Category.Name Kategorisindeki Diğer Ürünler</h2>
    </div>
    <partial name="_Products" model="Model.Products" />
</section>
